This system is managed by Ansible
System Name             : {{ inventory_hostname }}

System total memory     : {{ ansible_facts['memtotal_mb'] }} MiB.
System processor count  : {{ ansible_facts['processor_count'] }}